<div class="container text-center">
  <h1><%= @user.username %>'s Profile</h1>

  <%= link_to 'Follow', relationships_path(friend_id: @user), method: :post %>

  <% @user.tweets.each do |tweet| %>
    <%= sanitize(tweet.message) %><br><br>
  <% end %>
</div>